<ul>
  <li class="menu">
    <a routerLink="" (click)="ativarMenu('cronometro')" [ngClass]="{'pressed': cronometroAtivo}">Cronômetro</a>
    <a routerLink="atleta" (click)="ativarMenu('atleta')" [ngClass]="{'pressed': atletaAtivo}">Atleta</a>
    <a routerLink="categoria" (click)="ativarMenu('categoria')" [ngClass]="{'pressed': categoriaAtivo}">Categoria</a>
    <a routerLink="equipe" (click)="ativarMenu('equipe')" [ngClass]="{'pressed': equipeAtivo}">Equipe</a>
    <a routerLink="prova" (click)="ativarMenu('prova')" [ngClass]="{'pressed': provaAtivo}">Prova</a>
    <a routerLink="resultado" (click)="ativarMenu('resultado')" [ngClass]="{'pressed': resultadoAtivo}">Resultado</a>
  </li>
</ul>

<router-outlet></router-outlet>