<div class="container color-dark">
  <div class="col">
    <p>
      Adicionar atleta
    </p>
  </div>
  <div class="col">
    <p>
      Atletas cadastrados
    </p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form>
      <div>
        <input type="text" class="txt" name="nome" placeholder="Nome..." />
        <input type="text" class="txt" name="idade" placeholder="Idade..." />
        <input type="submit" class="btn" Value="Salvar" />
      </div>
    </form>
  </div>
  <div class="col">
    <p class="life-container">
      Artur José Mistura Junior - 20 anos
    </p>
  </div>
</div>